<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}Home{% endblock %} - AndroIRC (Android IRC Client)</title>
        <meta name="google-site-verification" content="NxLzVTaSpM7YMWZ_DqGdF19nVKrNl4IcQxcT3jtACqw" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Julien Brochet, Sébastien Brochet" />
        <meta name="title" content="{{ block('title') }} - AndroIRC (Android IRC Client)" />
        <meta name="description" content="AndroIRC is an Android IRC client which can connect to several server (secured or not) at the same time. Features: mIRC colors, auto join channels on startup, themes (black or white), nickserv auth, sasl auth, android notifications, copy &amp; paste, logging, easy access menu to kick, ban .. and much more!" />
        <meta name="keywords" content="android, irc, client, free, app, mirc, androirc, market, logging, sasl, authentication, blowfish, plain, identification, nickserv, themes, smartphone, application, apps, ircd, communication, internet, relay, chat, server, freenode, epiknet, quakenet, efnet, undernet, ident, nick, nickname, chan, channel, kick, ban, op, halfop, voice" />
        <meta name="language" content="en" />
        <meta name="robots" content="index, follow" />

        <link href="http://feeds.feedburner.com/AndroIRC" type="application/atom+xml" rel="alternate" title="Last articles" />
        <link rel="shortcut icon" href="/favicon.ico" />
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div id="up">
            <div id="header">
                {% block header %}{% endblock %}
                <div id="social">
                    <a href="http://feeds.feedburner.com/AndroIRC">
                        <img src="{{ asset('bundles/andro/images/rss_16.png') }}" />
                    </a>
                    <a href="http://www.facebook.com/androirc">
                        <img src="{{ asset('bundles/andro/images/facebook_16.png') }}" />
                    </a>
                    <a href="https://twitter.com/androirc">
                        <img src="{{ asset('bundles/andro/images/twitter_16.png') }}" />
                    </a>
                </div>
                <div id="logo">
                    <img src="{{ asset('bundles/andro/images/logo.png') }}" />
                    <span><em>Android IRC Client</em></span>
                </div>
            </div>
        </div>

        <div id="menu">
            {% block menu %}{% endblock %}
        </div>

        <div id="space">
        </div>

        <div id="page">
            {% if app.session.hasFlash('notice') %}
                <div class="flash notice">
                    {{ app.session.flash('notice') }}
                </div>
            {% elseif app.session.hasFlash('error') %}
                <div class="flash error">
                    {{ app.session.flash('error') }}
                </div>
            {% endif %}
            {% block page %}{% endblock %}
            <div class="clear"></div>
        </div>
        <div id="footer">
            <div>
                <div class="column">
                    <h2>Community</h2>
                    <p>You can join us on IRC. We're on <a href="irc://irc.freenode.net">freenode</a>, channel #AndroIRC</p>
                    <ul>
                        <li><img class="famfamfam" src="{{ asset('bundles/andro/images/facebook_16.png') }}" /> <a href="http://facebook.com/androirc">Facebook page</a></li>
                        <li><img class="famfamfam" src="{{ asset('bundles/andro/images/twitter_16.png') }}" /> <a href="http://twitter.com/androirc">Follow us on twitter</a></li>
                    </ul>

                </div>
                <div class="column">
                    <h2>Other pages</h2>
                    <ul>
                        <li><img class="famfamfam" src="{{ asset('bundles/andro/images/marker.png') }}" /> <a href="{{ path('beta') }}">Download the latest beta</a></li>
                        <li><img class="famfamfam" src="{{ asset('bundles/andro/images/bug.png') }}" /> <a href="http://bugs.androirc.com/">Bug tracker website</a></li>
                        <li><img class="famfamfam" src="{{ asset('bundles/andro/images/feed.png') }}" /> <a href="http://feeds.feedburner.com/AndroIRC">RSS Feed</a></li>
                        <li><img class="famfamfam" src="{{ asset('bundles/andro/images/coins.png') }}" /> <a href="https://market.android.com/details?id=com.androirc.premium">Download AndroIRC premium</a></li>
                        <li><img class="famfamfam" src="{{ asset('bundles/andro/images/book_open.png') }}" /> <a href="http://translation.androirc.com/">Help us translating AndroIRC</a></li>
                        <li><img class="famfamfam" src="{{ asset('bundles/andro/images/mail-open.png') }}" /> <a href="{{ path('contact') }}">Contact us</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h2>Copyright</h2>
                    <p>
                        {{ 'now' | date('Y') }} &copy; AndroIRC. All rights reserved.
                    </p>
                    <p>
                        Powered by <a href="http://symfony.com">Symfony2</a>
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-133630-2']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>