<div class="article {%- if (not article.isVisible) %} not_visible{% endif %}">
    <div class="avatar">
        <img src="{{ gravatar(article.author.getEmail) }}" />
    </div>
    <div class="header">
        {% if app.user and app.user.isAdmin %}
            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}"><img style="float: right;" src="{{ asset('bundles/andro/images/icons/page_edit.png') }}" /></a>
        {% endif %}
        <div class="title">
            <a href="{{ andro_url_article(article) }}">{{ article.getTitle }}</a>
        </div>
        <div class="by">
            {{ article.getCreated|date('m/d/Y') }} | News posted by {{ article.getAuthor }}
        </div>
    </div>

    {% if not sumup %}
        <div class="content">
            {{ article.getContent|raw }}
        </div>

        <div class="footer">
            <div class="share addthis_toolbox addthis_default_style"
                 addthis:url="{{ andro_url_article(article, true) }}"
                 addthis:title="{{ article.getTitle }} - AndroIRC (Android IRC Client)">

                <a class="addthis_counter addthis_pill_style"></a>
                <a class="addthis_button_tweet" tw:via="androirc"></a>
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
            <div class="comments">
                <img src="/bundles/andro/images/comment.png" />
                <a href="{{ andro_url_article(article) }}#disqus_thread" data-disqus-identifier="{{ article.getId }}">Comments</a>
            </div>
        </div>
    {% endif %}
    <div style="clear: left;"></div>
</div>