<div class="article {% if (false == article.isVisible) %} not_visible{% endif %}">
    {% if app.user and app.user.isSuperAdmin %}
        <a href="{{ path('admin_article_edit', { 'id': article.id }) }}"><img style="float: right;" src="{{ asset('bundles/andro/images/icons/page_edit.png') }}" /></a>
    {% endif %}
    <div class="title">
        <a href="{{ path('article_show', { 'id': article.getId, 'slug': article.getSlug }) }}">{{ article.getTitle }}</a>
    </div>
    <div class="by">
        {{ article.getCreated | date('m/d/Y') }} | News posted by {{ article.getAuthor }}
    </div>

    <div class="content">
        {{ article.getContent }}
    </div>

    <div class="footer">
        <div class="share addthis_toolbox addthis_default_style"
             addthis:url="{{ url('article_show', { 'id': article.getId, 'slug': article.getSlug }) }}"
             addthis:title="{{ article.getTitle }} - AndroIRC (Android IRC Client)">

            <a class="addthis_counter addthis_pill_style"></a>
            <a class="addthis_button_tweet" tw:via="androirc"></a>
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        {% if sumup is defined %}
            <div class="comments">
                <img src="/bundles/andro/images/comment.png" />
                <a href="{{ path('article_show', { 'id': article.getId, 'slug': article.getSlug }) }}#disqus_thread" data-disqus-identifier="{{ article.getId }}">Comments</a>
            </div>
        {% endif %}
    </div>
    <div style="clear: left;"></div>
</div>