<div class="article">
    <div class="title">
        {% if not sumup -%}
            {{ article.getTitle }}
        {% else -%}
            <a href="{{ andro_url_article(article) }}">{{ article.getTitle }}</a>
        {% endif %}
    </div>
    <div class="by">
        {{ article.getCreated|date('m/d/Y') }} | News posted by {{ article.getAuthor }}
    </div>

    <div class="content">
        {% if sumup %}
            {{ article.getContent|strip_tags|truncate(300)|raw }}
        {% else %}
            {{ article.getContent|raw }}
        {% endif %}
    </div>

    <div class="footer">
        {% if sumup %}
            <div class="comments">
                <img src="/bundles/andro/images/comment.png" />
                <a href="{{ path('article_show', { 'id': article.getId, 'slug': article.getSlug }) }}#disqus_thread" data-disqus-identifier="{{ article.getId }}">Comments</a>
            </div>
        {% endif %}
    </div>
    <div style="clear: left;"></div>
</div>