<!DOCTYPE html>
<html xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
    <head>
        <title>{% block title %}{{ 'homepage.title'|trans }}{% endblock %} - AndroIRC ({{ 'header.subtitle'|trans }})</title>
        <meta name="google-site-verification" content="NxLzVTaSpM7YMWZ_DqGdF19nVKrNl4IcQxcT3jtACqw" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Julien Brochet, Sébastien Brochet" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
        <meta name="title" content="{{ block('title') }} - AndroIRC ({{ 'header.subtitle'|trans }})" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="description" content="{{ 'meta.description'|trans }}" />
        <meta name="keywords" content="{{ 'meta.keywords'|trans }}" />
        <meta name="language" content="{{ locales()|join(',') }}" />
        <meta name="robots" content="index, follow" />

        {% for locale in locales() -%}
            <link rel="alternate" hreflang="{{ locale }}" href="{{ path_locale(app.request, locale, true) }}" />
        {% endfor %}

        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
        <link href="http://feeds.feedburner.com/AndroIRC" type="application/atom+xml" rel="alternate" title="Last articles" />
        <link rel="shortcut icon" href="/favicon.ico" />
        {% block stylesheets %}
            {% stylesheets filter="?yui_css" output="css/mobile.css"
                '@MainBundle/Resources/public/css/reset.css'
                '@MainBundle/Resources/public/css/common.css'
                '@MainBundle/Resources/public/css/mobile.css'
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="up">
            <header>
                <div id="logo">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('bundles/andro/images/logo.png') }}" />
                    </a>
                    <span>{{ 'header.subtitle'|trans }}</span>
                </div>
            </header>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="http://market.android.com/details?id=com.androirc">{{ 'menu.download'|trans }}</a></li>
                <li><a href="{{ path('eula') }}">{{ 'menu.eula'|trans }}</a></li>
                <li class="last"><a href="{{ path('beta') }}">{{ 'menu.beta'|trans }}</a></li>
            </ul>
        </nav>
        <section id="content">
            <div id="switch">
                {{ switch_version() }}
            </div>
            <div id="ads">
            </div>
            {% block content %}{% endblock %}
        </section>
        <div class="clear"></div>

        <footer>
             &copy; {{ 'footer.copyright.desc'|trans({'%year%': 'now'|date('Y')})|replace({'Madalynn': '<a href="http://www.madalynn.eu/">Madalynn</a>'})|raw }}

             {% render 'MainBundle:Main:locales' with {'request': app.request} %}
        </footer>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-133630-5']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% block javascripts %}
            {{ madalynn_admob('ads') }}
        {% endblock %}
    </body>
</html>
