{% extends "AndroBundle::frontend.html.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <p>{{ 'contact.desc'|trans }}</p>

    <form class="form-horizontal" action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="actions-right">
            <input type="submit" class="btn" value="{{ 'contact.submit'|trans }}"/>
        </div>
    </form>
{% endblock %}
