{% extends "AndroBundle::frontend.html.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <p>{{ 'contact.desc'|trans }}</p>

    <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>
        <div class="form">
            {{ form_widget(form) }}
        </div>
        <div class="form_submit">
            <input type="submit" value="{{ 'contact.submit'|trans }}"/>
        </div>
    </form>
{% endblock %}
