{% extends "AndroBundle:Article:layout.html.twig" %}

{% block content %}
    <div class="center">
        <a id="support_link" href="{{ path('donate') }}"><span></span>{{ 'homepage.support_it'|trans }}</a>
    </div>

    <p id="introduction">
       {{ 'homepage.introduction'|trans }}
    </p>

    {% for article in articles %}
        {% include 'AndroBundle:Article:article.html.twig' with { 'article': article, 'sumup': true } %}
    {% endfor %}

    <a style="float: right; "class="awesome" href="{{ path('archives') }}">» {{ 'article.archives'|trans }}</a>
{% endblock %}