{% extends "AdminBundle:Base:show.html.twig" %}

{% block title %}{{ 'backend.beta_release.show_title'|trans({'%version%': entity.version}) }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Location');
            data.addColumn('number', 'Downloads');

            data.addRows({{ repartition|length }});
            {% for row in repartition -%}
            data.setValue({{ loop.index0 }}, 0, '{{ row.location }}');
            data.setValue({{ loop.index0 }}, 1, {{ row.downloadsCount }});
            {% endfor %}

            var options = {
                width: 500,
                height: 300
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block subcontent %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'backend.beta_release.field.version'|trans }}</td>
                <td>{{ entity.version }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.beta_release.field.downloadable'|trans }}</td>
                <td>{{ macro.display_bool(entity.downloadable) }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.beta_release.field.downloads'|trans }}</td>
                <td>{{ entity.downloads|length }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.beta_release.field.repartition'|trans }}</td>
                <td><div id="chart"></div></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
