{% extends "AdminBundle:Base:show.html.twig" %}

{% block title %}{{ 'beta_release.show_title'|trans({'%version%': entity.version}) }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Location');
            data.addColumn('number', 'Downloads');

            data.addRows({{ repartition|length }});
            {% for row in repartition -%}
            data.setValue({{ loop.index0 }}, 0, '{{ row.location }}');
            data.setValue({{ loop.index0 }}, 1, {{ row.downloadsCount }});
            {% endfor %}

            var options = {
                width: 500,
                height: 300,
                backgroundColor: '#f5f5f5',
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block content %}
    <table class="records_list">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td>{{ 'beta_release.field.version'|trans }}</td>
                <td>{{ entity.version }}</td>
            </tr>
            <tr>
                <td>{{ 'beta_release.field.downloadable'|trans }}</td>
                <td>
                    {% if (entity.downloadable) %}
                        <img src="{{ asset('bundles/andro/images/icons/tick.png') }}" />
                    {% else %}
                        <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ 'beta_release.field.downloads'|trans }}</td>
                <td>{{ entity.downloads|length }}</td>
            </tr>
            <tr>
                <td>{{ 'beta_release.field.repartition'|trans }}</td>
                <td><div id="chart"></div></td>
            </tr>
        </thead>
    </table>
{% endblock %}
