{% extends "AdminBundle:Base:list.html.twig" %}

{% block title %}QuickStart list{% endblock %}

{% block content %}
  <table class="records_list">
        <thead>
            <tr>
                <th>Language</th>
                <th>Version min</th>
                <th>Version max</th>
                <th width="140px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pager %}
            <tr>
                <td style="text-align: center">{{ entity.getLanguage }}</td>
                <td style="text-align: center">{{ entity.getVersionMin }}</td>
                <td style="text-align: center">{{ entity.getVersionMax }}</td>
                <td>
                    <ul>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/page_edit.png') }}" /> <a href="{{ path('admin_quick_start_edit', { 'id': entity.id }) }}">Edit</a>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" /> <a onclick="return confirm('Are you sure?')" href="{{ path('admin_quick_start_delete', { 'id': entity.id }) }}">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}