{% extends "AndroBundle::layout.html.twig" %}

{% block title %}Administration center{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="?yui_css" output="css/backend.css"
        '@AndroBundle/Resources/public/css/reset.css'
        '@AndroBundle/Resources/public/css/common.css'
        '@AndroBundle/Resources/public/css/design.css'
        '@AndroBundle/Resources/public/css/form.css'
        '@AdminBundle/Resources/public/css/back.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/admin/js/tinymce/tiny_mce.js') }}"></script>
{% endblock %}

{% block header %}
    <div id="admin_title">
        Administration center
    </div>
{% endblock %}

{% block menu %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <ul>
            <li><a href="{{ path('homepage') }}">Frontend</a></li>
            <li><a href="{{ path('admin_article_list') }}">Article</a></li>
            <li><a href="{{ path('admin_donator_list') }}">Donator</a></li>
            <li><a href="{{ path('admin_user_list') }}">User</a></li>
            <li><a href="{{ path('admin_beta_release_list') }}">Beta</a></li>
            <li><a href="{{ path('admin_tip_list') }}">Tip</a></li>
            <li><a href="{{ path('admin_crash_report_list') }}">Crash</a></li>
            <li><a href="{{ path('admin_quick_start_list') }}">Quick Start</a></li>
            <li><a href="{{ path('admin_tip_holiday_list') }}">Holiday</a></li>
            <li><a href="{{ path('homepage') }}">Change Log</a></li>
            <li class="last"><a href="{{ path('logout') }}">Logout</a></li>
        </ul>
    {% endif %}
{% endblock %}