{% extends "AdminBundle::backend.html.twig" %}

{% block page %}
    <h1>{{ block('title') }}</h1>

    <form action="{{ path('admin_' ~ entity_name ~ '_update', { 'id' : entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a class="awesome" href="{{ path('admin_' ~ entity_name ~ '_list') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a class="awesome" href="{{ path('admin_' ~ entity_name ~ '_delete', { 'id' : entity.id }) }}" onclick="return confirm('Are you sure?')">
                Delete
            </a>
        </li>
    </ul>
{% endblock %}