{% extends "AdminBundle::backend.html.twig" %}

{% block title %}{{ ('backend.' ~ entity_name ~ '.edit_title')|trans }}{% endblock %}

{% block page %}
    <h1>{{ block('title') }}</h1>

    {{ form_start(edit_form, {'action': path('admin_' ~ entity_name ~ '_update', { 'id' : entity.id }), 'method': 'post', 'attr': {'class': 'form-horizontal'}  }) }}
        {{ form_widget(edit_form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{{ 'backend.actions.edit'|trans }}</button>
            <a class="btn btn-danger" href="{{ path('admin_' ~ entity_name ~ '_delete', { 'id' : entity.id }) }}">{{ 'backend.actions.delete'|trans }}</a>
            <a class="btn" href="{{ path('admin_' ~ entity_name ~ '_list') }}">{{ 'backend.actions.back_list'|trans }}</a>
        </div>
    </form>
    {{ form_end(edit_form) }}
{% endblock %}
