{% extends "AdminBundle::backend.html.twig" %}

{% block page %}
    {% if filter_form.count > 1 %}
        <div id="filter-a">
            <a href="{{ path('admin_' ~ entity_name ~ '_clear') }}" class="awesome red">Clear all filters</a>
            <a id="filter-results" href="javascript:;" class="awesome magenta">Filter results</a>
        </div>
    {% endif %}

    <h1>{{ block('title') }}</h1>

    {% if filter_form.count > 1 %}
        <div id="filter">
            <form action="{{ path('admin_' ~ entity_name ~ '_filter') }}" method="post" {{ form_enctype(filter_form) }}>
                {{ form_widget(filter_form) }}
                <p>
                    <button type="submit">Let's go !</button>
                </p>
            </form>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

    <div id="entity_actions">
        {% block entity_actions %}
            <a class="awesome" href="{{ path('admin_' ~ entity_name ~ '_new') }}">
                Create a new entry
            </a>
        {% endblock %}
    </div>

    <div class="clear"></div>

    <div class="paginator">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager) }}
        {% endif %}
    </div>
{% endblock %}