{% extends "AdminBundle::backend.html.twig" %}

{% block title %}{{ ('backend.' ~ entity_name ~ '.list_title')|trans }}{% endblock %}

{% block page %}
    {% set has_filter = filter_form.count > 1 %}

    <div class="row">
        <div class="span{{ has_filter ? '9' : '12' }}">
            <h1>{{ block('title') }}</h1>

            {% block subcontent %}{% endblock %}

            <div class="form-actions">
                {% block entity_actions %}
                    <a class="btn btn-success" href="{{ path('admin_' ~ entity_name ~ '_new') }}">{{ 'backend.actions.create_entry'|trans }}</a>
                {% endblock %}
            </div>
        </div>
        {% if has_filter %}
            <div class="span3">
                <h1>{{ 'backend.actions.filter'|trans }}</h1>
                <form class="form" action="{{ path('admin_' ~ entity_name ~ '_filter') }}" method="post" {{ form_enctype(filter_form) }}>
                    {{ form_widget(filter_form) }}
                    <div>
                        <button type="submit" class="btn btn-primary">{{ 'backend.actions.filter_button'|trans }}</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>

    <div class="paginator-container">
        {{ pagerfanta(pager) }}
    </div>
{% endblock %}
