{% extends "AdminBundle::backend.html.twig" %}

{% block title %}{{ (entity_name ~ '.new_title')|trans }}{% endblock %}

{% block page %}
    <h1>{{ block('title') }}</h1>

    <form action="{{ path('admin_' ~ entity_name ~ '_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="actions">
            <button type="submit" class="btn btn-primary">{{ 'actions.create'|trans }}</button>
            <a class="btn" href="{{ path('admin_' ~ entity_name ~ '_list') }}">{{ 'actions.back_list'|trans }}</a>
        </div>
    </form>
{% endblock %}
