{% extends "AdminBundle:Base:list.html.twig" %}

{% block subcontent %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ 'backend.android_version.field.api_level'|trans }}</th>
                <th>{{ 'backend.android_version.field.version'|trans }}</th>
                <th>{{ 'backend.actions.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pager %}
            <tr>
                <td>{{ entity.apiLevel }}</td>
                <td>{{ entity }}</td>
                <td>
                    <a href="{{ path('admin_android_version_edit', {'id': entity.id}) }}"><img src="{{ asset('bundles/admin/images/pencil-16.png') }}" /></a>
                    <a onclick="return confirm('Are you sure?')" href="{{ path('admin_android_version_delete', {'id': entity.id}) }}"><img src="{{ asset('bundles/admin/images/cross-16.png') }}" /></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
