{% extends "AdminBundle:Base:list.html.twig" %}

{% block content %}
  <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'crash_report.field.error_message'|trans }}</th>
                <th>{{ 'crash_report.field.androirc'|trans }}</th>
                <th>{{ 'crash_report.field.count'|trans }}</th>
                <th>{{ 'crash_report.field.resolved'|trans }}</th>
                <th width="220px;">{{ 'actions.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pager %}
            <tr>
                <td><a href="{{ path('admin_crash_report_show', {'id': entity.id}) }}">{{ entity.errorMessage|truncate(60) }}</a></td>
                <td style="text-align: center">{{ entity.majorAndroircVersion }}</td>
                <td style="text-align: center">{{ entity.count }}</td>
                <td style="text-align: center">
                    {% if (entity.resolved) %}
                        <img src="{{ asset('bundles/andro/images/icons/tick.png') }}" />
                    {% else %}
                        <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" />
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/accept.png') }}" /> <a href="{{ path('admin_crash_report_resolved', {'id': entity.id}) }}">{{ 'actions.resolved'|trans }}</a>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/page.png') }}" /> <a href="{{ path('admin_crash_report_show', {'id': entity.id}) }}">{{ 'actions.show'|trans }}</a>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" /> <a onclick="return confirm('Are you sure?')" href="{{ path('admin_crash_report_delete', {'id': entity.id}) }}">{{ 'actions.delete'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block entity_actions %}
    <a onclick="return confirm('Are you sure?')" class="btn btn-danger" href="{{ path('admin_crash_report_delete_all') }}">
        {{ 'actions.delete_all'|trans }}
    </a>
    <a onclick="return confirm('Are you sure?')" class="btn btn-danger" href="{{ path('admin_crash_report_delete_selected') }}">
        {{ 'actions.delete_selected'|trans }}
    </a>
{% endblock %}
