{% extends "AdminBundle:Base:show.html.twig" %}

{% block title %}{{ 'crash_report.show_title'|trans({'%id%': entity.id}) }}{% endblock %}

{% block content %}
    <table class="records_list">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td>{{ 'crash_report.field.android'|trans }}</td>
                <td>{{ entity.androidVersion }}</td>
            </tr>
            <tr>
                <td>{{ 'crash_report.field.androirc'|trans }}</td>
                <td>{{ entity.androircVersion }}</td>
            </tr>
            <tr>
                <td>{{ 'crash_report.field.thread_name'|trans }}</td>
                <td>{{ entity.threadName }}</td>
            </tr>
            <tr>
                <td>{{ 'crash_report.field.error_message'|trans }}</td>
                <td>{{ entity.errorMessage }}</td>
            </tr>
            <tr>
                <td>{{ 'crash_report.field.resolved'|trans }}</td>
                <td>
                    {% if (entity.resolved) %}
                        <img src="{{ asset('bundles/andro/images/icons/tick.png') }}" />
                    {% else %}
                        <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ 'crash_report.field.count'|trans }}</td>
                <td>{{ entity.count }}</td>
            </tr>
            <tr>
                <td>{{ 'crash_report.field.callstack'|trans }}</td>
                <td class="callstack">{{ entity.callstack }}</td>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block entity_actions %}
    <a class="btn btn-info" href="{{ path('admin_crash_report_resolved', { 'id': entity.id }) }}">
        {% if (entity.isResolved) %}
            {{ 'actions.unresolved'|trans }}
        {% else %}
            {{ 'actions.resolved'|trans }}
        {% endif %}
    </a>
    {{ parent() }}
{% endblock %}
