{% extends "AdminBundle:Base:show.html.twig" %}

{% block title %}{{ 'backend.crash_report.show_title'|trans({'%id%': entity.id}) }}{% endblock %}

{% block subcontent %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'backend.crash_report.field.android'|trans }}</td>
                <td>{{ entity.androidVersion }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.crash_report.field.androirc'|trans }}</td>
                <td>{{ entity.androircVersion }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.crash_report.field.thread_name'|trans }}</td>
                <td>{{ entity.threadName }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.crash_report.field.error_message'|trans }}</td>
                <td>{{ entity.errorMessage }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.crash_report.field.resolved'|trans }}</td>
                <td>{{ macro.display_bool(entity.resolved) }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.crash_report.field.count'|trans }}</td>
                <td>{{ entity.count }}</td>
            </tr>
            <tr>
                <td>{{ 'backend.crash_report.field.callstack'|trans }}</td>
                <td><pre>{{ entity.callstack }}</pre></td>
            </tr>
            <tr>
                <td>Logcats</td>
                <td>
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs" id="logcat_tabs">
                        {% for logcat in entity.logcats %}
                            {# First, create tabs on the left #}
                            <li{% if loop.first %} class="active"{% endif %}><a href="#tab{{ loop.index }}" data-toggle="tab">#{{ loop.index }}</a></li>
                        {% endfor %}
                        </ul>
                        <div class="tab-content">
                        {% for logcat in entity.logcats %}
                            {# Next, the tab content #}
                            <div class="tab-pane{% if loop.first %} active{% endif %}" id="tab{{ loop.index }}">
                                {% spaceless %}
                                    <pre>
                                        {% for content in logcat.content %}
                                            <span class="{% if content.level == 'I'%}text-info{%
                                              elseif content.level == 'W' %}text-warning{%
                                              elseif content.level == 'V' %}muted{%
                                              elseif content.level == 'E' %}text-error{%
                                              elseif content.level == 'D' %}text-success{% endif %}">
                                                [{{ content.date|date("d/m - H:i:s") }}] [{{ content.pid }}] [{{ content.tag }}] {{ content.message }}
                                            </span>
                                        {% endfor %}
                                    </pre>
                                {% endspaceless %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block entity_actions %}
    <a class="btn btn-info" href="{{ path('admin_crash_report_resolved', {'id': entity.id}) }}">
        {% if (entity.resolved) %}
            {{ 'backend..actions.unresolved'|trans }}
        {% else %}
            {{ 'backend.actions.resolved'|trans }}
        {% endif %}
    </a>
    {{ parent() }}
{% endblock %}
