{% extends "AdminBundle:Base:show.html.twig" %}

{% block title %}Crash Report #{{entity.getId }}{% endblock %}

{% block content %}
    <table class="records_list">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td>Android version</td>
                <td>{{ entity.getAndroidVersion }}</td>
            </tr>
            <tr>
                <td>AndroIRC version</td>
                <td>{{ entity.getAndroircVersion }}</td>
            </tr>
            <tr>
                <td>Thread name</td>
                <td>{{ entity.getThreadName }}</td>
            </tr>
            <tr>
                <td>Error message</td>
                <td>{{ entity.getErrorMessage }}</td>
            </tr>
            <tr>
                <td>Resolved</td>
                <td>
                    {% if (entity.isResolved) %}
                        <img src="{{ asset('bundles/andro/images/icons/tick.png') }}" />
                    {% else %}
                        <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Count</td>
                <td>{{ entity.getCount }}</td>
            </tr>
            <tr>
                <td>Callstack</td>
                <td class="callstack">{{ entity.getCallstack }}</td>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block entity_actions %}
    <a class="awesome red" onclick="return confirm('Are you sure?')" href="{{ path('admin_crash_report_delete', { 'id': entity.id }) }}">
        Delete
    </a>
    <a class="awesome magenta" href="{{ path('admin_crash_report_resolved', { 'id': entity.id }) }}">
        {% if (entity.isResolved) %}
            Unresolved
        {% else %}
            Resolved
        {% endif %}
    </a>
    <a class="awesome" href="{{ path('admin_crash_report_list') }}">
        Back to the list
    </a>
{% endblock %}