{% extends "AdminBundle::backend.html.twig" %}

{% block page %}
    <h1>{{ block('title') }}</h1>

    <div id="filters">
        <form action="{{ path('admin_' ~ entity_name ~ '_filter') }}" method="post" {{ form_enctype(filter_form) }}>
            {{ form_widget(filter_form) }}

            <input type="submit" />
        </form>
    </div>

    {% block content %}{% endblock %}

    <div id="entity_actions">
        {% block entity_actions %}
            <a class="awesome" href="{{ path('admin_' ~ entity_name ~ '_new') }}">
                Create a new entry
            </a>
        {% endblock %}
    </div>

    <div class="clear"></div>

    <div class="paginator">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager) }}
        {% endif %}
    </div>
{% endblock %}