<?xml version="1.0" encoding="utf-8"?>
<!ENTITY nbsp "&#160;">
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>AndroIRC</title>
    <subtitle>{{ 'frontend.blog.description'|trans }}</subtitle>
    <link href="{{ url('_blog_rss') }}" rel="self" />
    <link href="{{ url('homepage') }}" />
    <author>
        <name>Madalynn</name>
    </author>
    <id>{{ url('_blog_rss')|sha1 }}</id>

    {% for article in articles %}
        <entry>
            <title>{{ article.title }}</title>
            <link href="{{ article_url(article, true) }}" />
            <id>{{ article_url(article, true)|sha1 }}</id>
            <updated>{{ article.formattedCreated }}</updated>
            <author>
                <name>{{ article.author }}</name>
            </author>
            <content type="html">{{ article.content|parse|e }}</content>
        </entry>
    {% endfor %}
</feed>
