{% extends "AdminBundle:Base:list.html.twig" %}

{% block title %}Article list{% endblock %}

{% block content %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Visible</th>
                <th>Created</th>
                <th width="140px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in pager %}
            <tr>
                <td><a href="{{ path('admin_article_show', { 'id' : entity.id }) }}">{{ entity.title }}</a></td>
                <td>
                    {% if (entity.visible) %}
                        <img src="{{ asset('bundles/andro/images/icons/tick.png') }}" />
                    {% else %}
                        <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" />
                    {% endif %}
                </td>
                <td>{{ entity.created | date('Y-m-d') }}</td>
                <td>
                    <ul>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/page_edit.png') }}" /> <a href="{{ path('admin_article_edit', { 'id': entity.id }) }}">Edit</a>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" /> <a onclick="return confirm('Are you sure?')" href="{{ path('admin_article_delete', { 'id': entity.id }) }}">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
