<div class="article">
    <div class="title">
        {% if not sumup -%}
            {{ article.title }}
        {% else -%}
            <a href="{{ andro_url_article(article) }}">{{ article.title }}</a>
        {% endif %}
    </div>
    <div class="by">
        {{ article.created|date('m/d/Y') }} | News posted by {{ article.author }}
    </div>

    <div class="content">
        {% if sumup %}
            {{ article.content|strip_tags|truncate(300)|raw }}
        {% else %}
            {{ article.content|raw }}
        {% endif %}
    </div>

    <div class="footer">
        {% if sumup %}
            <div class="comments">
                <img src="/bundles/andro/images/comment.png" />
                <a href="{{ andro_url_article(article) }}#disqus_thread" data-disqus-identifier="{{ article.id }}">Comments</a>
            </div>
        {% endif %}
    </div>
    <div style="clear: left;"></div>
</div>