<article {%- if not article.visible %} class="not-visible"{% endif %}>
    <div class="header">
        <div class="avatar">
            <img src="{{ gravatar(article.author.email) }}" />
        </div>
        <div class="informations">
            <div class="title">
                {% if sumup %}
                    <a href="{{ andro_url_article(article) }}">{{ article.title }}</a>
                {% else %}
                    {{ article.title }}
                {% endif %}
                {% if not article.visible %}({{ 'article.not_visible'|trans }}){% endif %}
            </div>
            <div class="subtitle">
                {{ article.created|date('m/d/Y') }} | {{ 'article.posted_by'|trans({'%name%': article.author}) }} | <a href="{{ andro_url_article(article) }}#disqus_thread" data-disqus-identifier="{{ article.id }}">0 comment</a>
                {% if app.user and app.user.admin %}
                    | <a href="{{ path('admin_article_edit', { 'id': article.id }) }}">{{ 'article.edit'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <div style="clear: left;"></div>
    </div>
    <section class="content">
        {% if sumup %}
            {{ article.content|strip_tags|truncate(300)|raw }}
        {% else %}
            {{ article.content|raw }}
        {% endif %}
    </section>

    {% if not sumup %}
        <div class="socialnetworks">
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_plusone_hcount' displayText='Google +1'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_email_hcount' displayText='Email'></span>
        </div>
    {% endif %}
</article>