{% extends 'MainBundle::layout.html.twig' %}

{% block title %}{{ 'frontend.menu.beta'|trans }}{% endblock %}
{% block description %}{{ 'frontend.beta.description'|trans }}{% endblock %}

{% block content %}
    {% if beta %}
        <div class="row">
            <div class="span8">
                <p>{{ 'frontend.beta.new_beta'|trans({'%version%': beta.version}) }}</p>

                {% if changelog %}
                    {{ changelog(changelog) }}
                {% endif %}
            </div>
            <div class="span4">
                <div class="aside-download">
                    <div class="download">
                        <a href="{{ path('_beta_download') }}" class="btn btn-large btn-primary">{{ 'frontend.beta.download_button'|trans }}</a>
                    </div>

                    <div class="text">
                        <p>
                            {{ 'frontend.beta.warning'|trans }}
                            <a href="{{ path('contact') }}">{{ 'frontend.beta.contact_us'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>{{ 'frontend.beta.no_beta'|trans }}</p>
    {% endif %}
{% endblock %}
