{% extends "MainBundle::frontend.html.twig" %}

{% block title %}{{ 'frontend.menu.beta'|trans }}{% endblock %}
{% block description %}{{ 'frontend.beta.description'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        {% if beta %}
            <div class="span6">
                <p>{{ 'frontend.beta.new_beta'|trans({'%version%': beta.version}) }}</p>

                {% if changelog %}
                    {% include 'MainBundle:ChangeLog:changelog.html.twig' with {'changelog': changelog}%}
                {% endif %}
            </div>
            <div class="span aside-download">
                    <div class="download">
                        <a href="{{ path('_beta_download') }}" class="btn btn-large btn-primary">{{ 'frontend.beta.download_button'|trans }}</a>
                    </div>

                 <div class="text">
                    <p>{{ 'frontend.beta.warning'|trans }}</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
