{% extends "AndroBundle::layout.html.twig" %}

{% block title %}Administration center{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="?yui_css" output="css/backend.css"
        '@AndroBundle/Resources/public/css/reset.css'
        '@AndroBundle/Resources/public/css/common.css'
        '@AndroBundle/Resources/public/css/design.css'
        '@AndroBundle/Resources/public/css/form.css'
        '@AdminBundle/Resources/public/css/back.css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/ckeditor/adapters/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/androirc.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var config = {
                toolbar: [
                    [ 'Source' ],
                    [ 'Bold', 'Italic', 'Underline', '-', 'RemoveFormat' ],
                    [ 'Link', 'Unlink' ],
                    [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'NumberedList', 'BulletedList' ],
                    [ 'Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo' ],
                ],
                resize_enabled: false,
                width: 670,
                height: 300
            };

            $('.editor').ckeditor(config);
        });
    </script>
{% endblock %}

{% block header %}
    <div id="admin_title">
        {{ 'layout.header'|trans }}
    </div>
{% endblock %}

{% block menu %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <ul>
            <li><a href="{{ path('homepage') }}">{{ 'menu.frontend'|trans }}</a></li>
            <li><a href="{{ path('admin_article_list') }}">{{ 'menu.article'|trans }}</a></li>
            <li><a href="{{ path('admin_donator_list') }}">{{ 'menu.donator'|trans }}</a></li>
            <li><a href="{{ path('admin_user_list') }}">{{ 'menu.user'|trans }}</a></li>
            <li><a href="{{ path('admin_beta_release_list') }}">{{ 'menu.beta'|trans }}</a></li>
            <li><a href="{{ path('admin_tip_list') }}">{{ 'menu.tip'|trans }}</a></li>
            <li><a href="{{ path('admin_crash_report_list') }}">{{ 'menu.crash'|trans }}</a></li>
            <li><a href="{{ path('admin_quick_start_list') }}">{{ 'menu.quickstart'|trans }}</a></li>
            <li><a href="{{ path('admin_tip_holiday_list') }}">{{ 'menu.holiday'|trans }}</a></li>
            <li><a href="{{ path('admin_change_log_list') }}">{{ 'menu.changelog'|trans }}</a></li>
            <li><a href="{{ path('admin_version') }}">{{ 'menu.version'|trans }}</a></li>
            <li class="last"><a href="{{ path('_logout') }}">{{ 'menu.logout'|trans }}</a></li>
        </ul>
    {% endif %}
{% endblock %}
