{% extends "MainBundle::layout.html.twig" %}
{% import "AdminBundle::macro.html.twig" as macro %}

{# Variable to select the menu item #}
{% set menu_item = 'home' %}

{% block title %}Administration center{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/admin/js/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/js/ckeditor/adapters/jquery.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var config = {
                toolbar: [
                    [ 'Source' ],
                    [ 'Bold', 'Italic', 'Underline', '-', 'RemoveFormat' ],
                    [ 'Link', 'Unlink' ],
                    [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'NumberedList', 'BulletedList' ],
                    [ 'Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo' ],
                ],
                resize_enabled: false,
                width: 670,
                height: 300
            };

            $('.editor').ckeditor(config);
        });
    </script>
{% endblock %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div id="admin-menu">
            <ul class="nav nav-pills">
                <li><a href="{{ path('admin_article_list') }}">{{ 'backend.menu.article'|trans }}</a></li>
                <li><a href="{{ path('admin_donator_list') }}">{{ 'backend.menu.donator'|trans }}</a></li>
                <li><a href="{{ path('admin_user_list') }}">{{ 'backend.menu.user'|trans }}</a></li>
                <li><a href="{{ path('admin_beta_release_list') }}">{{ 'backend.menu.beta'|trans }}</a></li>
                <li><a href="{{ path('admin_tip_list') }}">{{ 'backend.menu.tip'|trans }}</a></li>
                <li><a href="{{ path('admin_crash_report_list') }}">{{ 'backend.menu.crash'|trans }}</a></li>
                <li><a href="{{ path('admin_quick_start_list') }}">{{ 'backend.menu.quickstart'|trans }}</a></li>
                <li><a href="{{ path('admin_tip_holiday_list') }}">{{ 'backend.menu.holiday'|trans }}</a></li>
                <li><a href="{{ path('admin_change_log_list') }}">{{ 'backend.menu.changelog'|trans }}</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'backend.menu.version'|trans }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('admin_android_version_list') }}">{{ 'backend.menu.version_android'|trans }}</a></li>
                        <li><a href="{{ path('admin_androirc_version_list') }}">{{ 'backend.menu.version_androirc'|trans }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('_logout') }}">{{ 'backend.menu.logout'|trans }}</a></li>
            </ul>
        </div>
    {% endif %}

    {% block page %}{% endblock %}
{% endblock %}