{% extends "AdminBundle:Base:list.html.twig" %}

{% block content %}
  <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'user.field.username'|trans }}</th>
                <th>{{ 'user.field.admin'|trans }}</th>
                <th>{{ 'user.field.last_login'|trans }}</th>
                <th width="160px;">{{ 'actions.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pager %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td style="text-align: center">
                    {% if (entity.admin) %}
                        <img src="{{ asset('bundles/andro/images/icons/tick.png') }}" />
                    {% else %}
                        <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" />
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if entity.lastLogin %}
                        {{ entity.lastLogin|date('user.field.last_login_format'|trans) }}
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/page_edit.png') }}" /> <a href="{{ path('admin_user_edit', {'id': entity.id}) }}">{{ 'actions.edit'|trans }}</a>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" /> <a onclick="return confirm('Are you sure?')" href="{{ path('admin_user_delete', {'id': entity.id}) }}">{{ 'actions.delete'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
