{% extends "AdminBundle:Base:list.html.twig" %}

{% block content %}
  <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'donator.field.name'|trans }}</th>
                <th>{{ 'donator.field.amount'|trans }}</th>
                <th width="160px;">{{ 'actions.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pager %}
            <tr>
                <td><a href="{{ path('admin_donator_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td style="text-align: center">${{ entity.amount }}</td>
                <td>
                    <ul>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/page_edit.png') }}" /> <a href="{{ path('admin_donator_edit', { 'id': entity.id }) }}">{{ 'actions.edit'|trans }}</a>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/andro/images/icons/cross.png') }}" /> <a onclick="return confirm('Are you sure?')" href="{{ path('admin_donator_delete', { 'id': entity.id }) }}">{{ 'actions.delete'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}