{% extends "AndroBundle::frontend.html.twig" %}

{% block title %}{{ 'beta.name'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'beta.name'|trans }}</h2>

    <p>
        {{ 'beta.desc'|trans|raw }}
    </p>

    <div id="beta">
        {% if not beta %}
            {{ 'beta.no_beta'|trans }}
        {% else %}
            <a class="btn btn-info btn-large" style="margin-bottom: 5px;" href="{{ path('_beta_download') }}">{{ 'beta.button'|trans }}</a><br />
            <span>({{ 'beta.subtitle'|trans({'%version%': beta.version, '%date%': beta.created|date('beta.date_format'|trans)}) }})</span>
        {% endif %}
    </div>
{% endblock %}
