{% extends 'MainBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span12 homescreen">
            <img src="{{ asset('/bundles/common/images/homepage/homescreen.png') }}" />
        </div>
        <div class="span12 homescreen-motto">
            <h1>{{ 'frontend.homepage.motto'|trans }}</h1>
        </div>
    </div>

    {# Notifications #}
    <div class="row homepage">
        <div class="span7 content content-left">
            <h1>{{ 'frontend.homepage.notifications.name'|trans }}</h1>
            <p>{{ 'frontend.homepage.notifications.description'|trans }}</p>
        </div>
        <div class="span5 image">
            <img src="{{ asset('bundles/common/images/homepage/notifications.png') }}" />
        </div>
    </div>

    {# Themes #}
    <div class="row homepage">
        <div class="span5 image">
            <img src="{{ asset('bundles/common/images/homepage/themes.png') }}" />
        </div>
        <div class="span7 content content-right">
            <h1>{{ 'frontend.homepage.themes.name'|trans }}</h1>
            <p>{{ 'frontend.homepage.themes.description'|trans }}</p>
        </div>
    </div>

    {# Tablette #}
    <div class="row homepage">
        <div class="span7 content content-left">
            <h1>{{ 'frontend.homepage.tablette.name'|trans }}</h1>
            <p>{{ 'frontend.homepage.tablette.description'|trans }}</p>
        </div>
        <div class="span5 image">
            <img src="{{ asset('bundles/common/images/homepage/tablette.png') }}" />
        </div>
    </div>
{% endblock %}
