{% extends "MainBundle::frontend.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/andro/js/jquery.bxSlider.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var slider = $('#slider').bxSlider({
                controls: false
            });

            $('.thumbs a').click(function(){
                var thumbIndex = $('.thumbs a').index(this);
                slider.goToSlide(thumbIndex);

                $('.thumbs a').removeClass('pager-active');
                $(this).addClass('pager-active');

                return false;
            });

            $('.thumbs a:first').addClass('pager-active');
        });
    </script>
{% endblock %}

{% block title %}{{ 'screenshots.name'|trans }}{% endblock %}

{% block content %}
<h2>{{ 'screenshots.name'|trans }}</h2>

<ul id="slider">
    {% for screen in screenshots %}
        <li>
            <div class="device">
                <img src="{{ asset('bundles/andro/images/device/' ~ screen.filename) }}" alt="{{ screen.filename }}" />
            </div>
        </li>
    {% endfor %}
</ul>

<div class="thumbs">
    {% for screen in screenshots %}
        <a href="#"><img src="{{ asset('bundles/andro/images/device/thumbnail/' ~ screen.filename) }}" alt="{{ screen.filename }}" /></a>
    {% endfor %}
</div>
{% endblock %}
